<% maxpage=(@k["data"]["nTx"].to_f/10).ceil
    njh=maxpage-6
%>

<% provide(:index,"noindex") %>
<% provide(:title,"Bitcoin Block:"+params[:id]) %>
<% provide(:tw_img,"https://hiiragi000.xsrv.jp/images/portfolio/bitcoinex1.jpeg") %>

<%#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------%>



<%= render 'tmp/header_exp' %>

<div class="back">
    <main class="blockp">
        <div class="Bwarapper">
            <div class="blcContainer">
                <div class="fix-inf1">
                    <div>
                         <h1>Block <%= params[:id] %></h1>
                    </div>
                </div>
                <div class="stick1"></div>
                <div class="cloudContainer2">
                    <img src="https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/cloud.png" alt="雲"/>
                </div>
                <div class="Are">
                    <div class="base">
                        <div class="cube">
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i + 1 %>" class="s_front"><span>No.<span><%= params[:id].to_i + 1 %></span></span></a>
                            <div class="s_back"></div>
                            <div class="s_right"></div>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i + 1 %>" class="s_left"><i class="fab fa-btc"></i></a>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i + 1 %>" class="s_top"></a>
                            <div class="s_bottom"></div>
                        </div>
                    </div>
                    <div class="base" >
                        <div class="cube">
                            <a class="s_front"><span>No.<span><%= params[:id] %></span></span></a>
                            <div class="s_back"></div>
                            <div class="s_right"></div>
                            <a class="s_left"><i class="fab fa-btc"></i></a>
                            <div class="s_top" style="display:none;"></div>
                            <div class="s_bottom"></div>
                        </div>
                    </div>
                    <div class="base">
                        <div class="cube">
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i - 1 %>" class="s_front"><span>No.<span><%= params[:id].to_i - 1 %></span></span></a>
                            <div class="s_back"></div>
                            <div class="s_right"></div>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i - 1 %>" class="s_left"><i class="fab fa-btc"></i></a>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i - 1 %>" class="s_top"></a>
                            <div class="s_bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Binfwarapper">
            <div class="btcblockInfContainer">
                <div class="blockInftable">
                    <div class="btr">
                        <div>ブロックの高さ</div><div><%= @k["data"]["height"] %></div>
                    </div>
                    <div class="btr">
                        <div>確認</div><div><%= @k["data"]["confirmations"] %></div>
                    </div>
                    <div class="btr">
                        <div>ハッシュ</div><div><%= @k["data"]["hash"] %></div>
                    </div>
                    <div class="btr">
                        <div>マークル・ルート</div><div><%= @k["data"]["merkleroot"] %></div>
                    </div>
                    <div class="btr">
                        <div>サイズ</div><div><%= @k["data"]["size"] %> bytes</div>
                    </div>
                    <div class="btr">
                        <div>バージョン</div><div>0x<%= @k["data"]["versionHex"] %></div>
                    </div>
                    <div class="btr">
                        <div>タイムスタンプ</div><div><%= @k["data"]["time"] %></div>
                    </div>
                    <div class="btr">
                        <div>ナンス</div><div><%= @k["data"]["nonce"] %></div>
                    </div>
                    <div class="btr">
                        <div>bits</div><div><%= @k["data"]["bits"] %></div>
                    </div>
                    <div class="btr">
                        <div>トランザクション数</div><div><%= @k["data"]["nTx"] %> TXs</div>
                    </div>
                    <div class="btr">
                        <div>トータルアウトプット</div><div><%= @k["alloutput"]["total_out"].to_f / 100000000 %> <i class="fab fa-btc"></i></div>
                    </div>
                    <div class="btr">
                        <div>ブロック報酬</div><div><%= @k["alloutput"]["subsidy"].to_f / 100000000 %> <i class="fab fa-btc"></i></div>
                    </div>
                    <div class="btr">
                        <div>手数料の合計</div><div><%= @k["alloutput"]["totalfee"].to_f / 100000000 %> <i class="fab fa-btc"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Txwarapper">
            <h2>トランザクション</h2>
            <% if @k["data"]["nTx"].to_i > 100 %>
                <div class="pagination">
                  <ul>
                    <% if @pageNum<=6 %>
                        <% if @pageNum==1 %>
                            <i><li><</li></i>
                        <% else %>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <% end %>
                        <% for k in 1..9 do %>
                            <% if @pageNum==k %>
                                <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= k*10 %>"><li><%= k %></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= k*10 %>"><li><%= k %></li></a>
                            <% end %>
                        <% end %>
                        <i><li>...</li></i>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= (@k["data"]["nTx"].to_f/10).ceil %></li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                    <% elsif maxpage >= @pageNum && njh <= @pageNum then %>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=10"><li>1</li></a>
                        <i><li>...</li></i>
                        <% for k in -8..0 do %>
                            <% if @pageNum==(maxpage + k) %>
                                <% if k==0 %>
                                    <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= maxpage + k %></li></a>
                                <% else %>
                                    <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (maxpage + k)*10 %>"><li><%= maxpage + k %></li></a>
                                <% end %>
                            <% else %>
                                <% if k==0 %>
                                    <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= maxpage + k %></li></a>
                                <% else %>
                                    <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (maxpage + k)*10 %>"><li><%= maxpage + k %></li></a>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @pageNum==maxpage %>
                            <i><li>></li></i>
                        <% else %>
                            <% if (@pageNum +1)==maxpage %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li>></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                            <% end %>
                        <% end %>
                    <% elsif @pageNum > 6 && njh > @pageNum  %>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=10"><li>1</li></a>
                        <i><li>...</li></i>
                        <% for k in -3..3 do %>
                            <% if k==0 %>
                                <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum+k)*10 %>"><li><%= @pageNum+k %></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum+k)*10 %>"><li><%= @pageNum+k %></li></a>
                            <% end %>
                        <% end %>
                        <i><li>...</li></i>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= (@k["data"]["nTx"].to_f/10).ceil %></li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <% count=0 %>
            <% @k["txs"].each do |i| %>
                <% vic=0.0
                    vc=0.0
                    pul=false
                %>
                <div class="btr">
                    <div class="txidContainer">
                        <div class="txCon">
                            <div>
                                <img src=<%= "https://hiiragi000.xsrv.jp/images/blockchain/bitcoin/ore#{(i["txid"].to_s.hex % 3)+1}.png" %> src="鉱石"/>
                            </div>
                            <a><%= i["txid"].to_s %></a>
                        </div>
                    </div>
                    <div class="txinfContainer">
                        <div class="vin">
                            <div class="txtrs">
                                
                            </div>
                        </div>
                        <div class="arrow">
                        </div>
                        <div class="vout">
                            <div class="txtrs">
                                
                            </div>
                        </div>
                    </div>
                    <div class="txinfContainer txl">
                        <div class="vin">
                            <div class="left healp"><p class="txtBold">Input</p></div>
                            <div class="right"></div>
                            <% @k["inputs"][count].each do |pas| %>
                                <% if pas.nil? %>
                                    coinbase
                                    <% pul=true %>
                                <% else %>
                                    <div class="txtrs">
                                        <div class="left"><%= pas["scriptPubKey"]["addresses"].to_s.gsub(/"/,"").delete("#$%&'()=~^|\[{`@;+*:}]\?/>,.< ") %></div>
                                        <div class="right"><%= pas["value"] %> <i class="fab fa-btc"></i></div>
                                    </div>
                                    <% vic+=pas["value"] %>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="arrow uhealp">
                            <i class="fa fa-arrow-right"></i>
                            <p>send</p>
                        </div>
                        <div class="vout">
                            <div class="left healp"><p class="txtBold">Output</p></div>
                            <div class="right"></div>
                            <% i["vout"].each do |pas| %>
                                <div class="txtrs">
                                    <div class="left"><%= pas["scriptPubKey"]["addresses"].to_s.gsub(/"/,"").delete("#$%&'()=~^|\[{`@;+*:}]\?/>,.< ") %></div>
                                    <div class="right"><%= pas["value"] %> <i class="fab fa-btc"></i></div>
                                </div>
                                <% vc+=pas["value"] %>
                            <% end %>
                        </div>
                    </div>
                    <div class="txinfContainer">
                        <div class="vin">
                            <div class="txtrs">
                                <div class="left">total</div>
                                <% if !pul %>
                                    <div class="right"><%= sprintf("%0.8f",vic.round(8)) %> <i class="fab fa-btc"></i></div>
                                <% end %>
                            </div>
                        </div>
                        <div class="arrow">
                        </div>
                        <div class="vout">
                            <div class="txtrs">
                                <div class="adc"><%= sprintf("%0.8f",vc.round(8)) %> <i class="fab fa-btc"></i></div>
                            </div>
                        </div>
                    </div>
                    <% if !pul %>
                        <div class="txinfContainer">
                            <div class="vin">
                                <div class="txtrs">
                                    <div class="left">手数料</div>
                                    <div class="right"><%= sprintf("%0.8f",(vic-vc)) %> <i class="fab fa-btc"></i></div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                
                <% count+=1 %>
            <% end %>
            <% if @k["data"]["nTx"].to_i > 100 %>
                <div class="pagination">
                  <ul>
                    <% if @pageNum<=6 %>
                        <% if @pageNum==1 %>
                            <i><li><</li></i>
                        <% else %>
                            <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <% end %>
                        <% for k in 1..9 do %>
                            <% if @pageNum==k %>
                                <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= k*10 %>"><li><%= k %></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= k*10 %>"><li><%= k %></li></a>
                            <% end %>
                        <% end %>
                        <i><li>...</li></i>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= (@k["data"]["nTx"].to_f/10).ceil %></li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                    <% elsif maxpage >= @pageNum && njh <= @pageNum then %>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=10"><li>1</li></a>
                        <i><li>...</li></i>
                        <% for k in -8..0 do %>
                            <% if @pageNum==(maxpage + k) %>
                                <% if k==0 %>
                                    <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= maxpage + k %></li></a>
                                <% else %>
                                    <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (maxpage + k)*10 %>"><li><%= maxpage + k %></li></a>
                                <% end %>
                            <% else %>
                                <% if k==0 %>
                                    <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= maxpage + k %></li></a>
                                <% else %>
                                    <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (maxpage + k)*10 %>"><li><%= maxpage + k %></li></a>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if @pageNum==maxpage %>
                            <i><li>></li></i>
                        <% else %>
                            <% if (@pageNum +1)==maxpage %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li>></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                            <% end %>
                        <% end %>
                    <% elsif @pageNum > 6 && njh > @pageNum  %>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum -1)*10 %>"><li><</li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=10"><li>1</li></a>
                        <i><li>...</li></i>
                        <% for k in -3..3 do %>
                            <% if k==0 %>
                                <a class="is-active" href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum+k)*10 %>"><li><%= @pageNum+k %></li></a>
                            <% else %>
                                <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum+k)*10 %>"><li><%= @pageNum+k %></li></a>
                            <% end %>
                        <% end %>
                        <i><li>...</li></i>
                        <a href="/blockchain/btc_exproler/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= @k["data"]["nTx"].to_i %>"><li><%= (@k["data"]["nTx"].to_f/10).ceil %></li></a>
                        <a href="/blockchain/btc_exproler/block/<%= params[:id].to_i %>?offset=<%= (@pageNum +1)*10 %>"><li>></li></a>
                    <% end %>
                  </ul>
                </div>
            <% end %>
        </div>
        
        <div class="fixchr"><p>Created by Takumi( <a href="https://twitter.com/taku_blockchain" class="fab fa-twitter twitter_icon" target="_blank"> Twitter</a><a href="/portfolio" class="fas fa-book icon" target="_blank"><span>  Portfolio</span></a> )</p></div>
    </main>
</div>
<div class="footer">
<%= render 'tmp/footer' %>
</div>

